body{
  padding: 0%;
  margin: 0%;
  background-color: bisque;
}

ul{
  list-style-type: none;
  margin: 0px 0px;
  padding: 10px 0px;
  overflow: hidden;
  background-color: rgba(210, 149, 80, 0.21);
  position: fixed;
  bottom: 100px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

li a{
  text-decoration: none;
  color: black;
}

.nav-item{
  display: inline;
  margin: 10px 10px;
  padding: 10px 10px;
  /* border: 3px solid black;
  border-radius: 10px; */
}

.nav-item:hover{
  /* border: 3px solid rgb(255, 255, 255); */
  /* border-radius: 10px; */
  background-color: rgba(0, 0, 0, 0.345);
}

li a:hover{
  color: white;
}

.header{
  display: flex;
  background-image: url(img1.jpg);
  background-size: 1000px;
  background-repeat: repeat-x;
  height: 1000px;
  margin: 0%;
}

h1{
  font-size: 200px;
  width: 1000px;
  height: 400px;
  position: relative;
  top: 150px;
}
img{
  width: 220px;
  height: 200px;
  position: relative;
  top: 10px;
  right: 400px;
}

.side-box{
  height: 120px;
  width: 200px;
  background-color: rgba(131, 78, 40, 0.331);
  position: relative;
  top: 300px;
  right: 200px;
}

h3{
  display: flex;
  justify-content: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h3:hover{
  background-color: rgba(131, 78, 40, 0.587);
}

h3 a{
  text-decoration: none;
}

.part-1{
  display: flex;
}